body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #313131; }

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  line-height: 1.2;
  color: #fc4a1a; }

.heading-tertiary {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: .1rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right, #fc4a1a, #f7b733); }

.container {
  background-color: #ffffff;
  max-width: 120rem;
  height: 80vh;
  margin: 10vh auto;
  border-radius: 6px;
  position: relative; }

.header {
  padding: 2rem;
  width: 100%; }
  .header__logo {
    display: inline-block;
    margin-right: 4rem; }
    .header__logo img {
      height: 6rem; }
  .header__message {
    display: inline-block; }
    .header__message:not(:last-child) {
      padding-right: 3rem;
      margin-right: 4rem;
      border-right: 2px solid rgba(252, 74, 26, 0.3); }

.menu {
  float: left;
  display: block;
  width: 20%;
  padding: 2rem; }
  .menu__header {
    margin-bottom: 2rem; }
  .menu__list {
    list-style: none; }
  .menu__item {
    cursor: default;
    border-bottom: 1px solid transparent;
    width: 85%;
    padding-left: .5rem;
    transition: all .2s; }
    .menu__item:not(:last-child) {
      margin-bottom: .5rem; }
    .menu__item:hover {
      color: #fc4a1a;
      border-bottom: 1px solid #fc4a1a; }
    .menu__item--active {
      background-color: #fc4a1a;
      color: #ffffff !important;
      width: 100%;
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%); }

.todo {
  float: left;
  display: block;
  height: calc(80vh - 14rem);
  width: 80%;
  padding: 2rem; }

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 2rem; }
