* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    background-image: linear-gradient(to right, #fc4a1a, #f7b733);
}

.container {
    background-color: $color-white;
    max-width: 120rem;
    min-height: 80vh;
    margin: 10vh auto;
    border-radius: 6px;
    position: relative;

    @include respond(tab-port) {
        margin: 5vh auto;
        min-height: 90vh;
    }

    @include respond(phone) {
        margin: 0 auto;
        min-height: 100vh;
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}