.add-btn {
    
    &__btn {
        display: inline-block;
        height: 3.5rem;
        width: 3.5rem;
        border: 1px solid $color-grey-dark;
        margin-left: 1.5rem;
        transform: translateY(6px);
        cursor: default;
        position: relative;
        transition: all .2s;

        @include respond(tab-port) {
            margin-left: 1rem;
        }

        @include respond(phone) {
            transform: translateY(4px);
            height: 3.2rem;
            width: 3.2rem;
        }

        &:hover {
            border: 1px solid $color-primary;

            & .add-btn__sign {
                color: $color-primary;
            }
        }
    }

    &__sign {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
        transition: all .2s;

        &--rotated {
            transform: translate(-50%, -50%) rotate(135deg);
        }
    }
}

.form-btn {
    background-color: $color-white;
    border: none;
    text-transform: uppercase;
    font-family: inherit;
    color: inherit;
    font-size: 1.8rem;
    box-shadow: 0px 2px 5px 0px rgba($color-primary, .6);
    padding: .2rem 1rem;

    &:focus {
        outline: none;
    }
}

.checkbox {
    display: inline-block;
    height: 1.6rem;
    width: 1.6rem;
    border: 1px solid $color-grey-dark;
    margin-right: 1.5rem;
    transform: translateY(1px);
    position: relative;

    @include respond(phone) {
        margin-right: .5rem;
    }

    &--form {
        margin-left: 1rem;
        border: none;
        box-shadow: 0px 2px 5px 0px rgba($color-primary, .6);
        margin-right: 0;
    }
}

.check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    font-size: 3rem;
    cursor: default;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;

    &--show {
        visibility: visible;
        opacity: 1;
    }
}

.delete {
    padding: 0 .5rem;
    margin-right: -2rem;
    cursor: default;
    font-size: 2.4rem;
    color: $color-primary;
    transform: translateY(3px);
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
}