.menu {
    float: left;
    display: block;
    width: 20%;
    padding: 2rem;

    @include respond(tab-port) {
        float: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 100;
        background-color: rgba($color-white, .9);
        display: none;
    }

    &__container {
        @include respond(tab-port) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25rem;
        }
    }

    &__header {
        margin-bottom: 2rem;
    }

    &__list {
        list-style: none;
    }

    &__item {
        cursor: default;
        border-bottom: 1px solid transparent;
        width: 85%;
        padding-left: .5rem;
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        transition: all .2s;
        
        @include respond(tab-port) {
            font-size: 2.4rem;
        }

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        &:hover {
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
        }

        &--active {
            background-color: $color-primary;
            color: $color-white !important;
            width: 100%;
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        }
    }
}   