.todo {
    float: left;
    display: block;
    width: 80%;
    padding: 2rem;
    margin-bottom: 8rem;

    &__header {
        margin-bottom: .5rem;
    }

    &__add-task {
        margin-bottom: .5rem;
    }

    &__list {
        list-style: none;
        margin-top: 3rem;
    }

    &__task {
        line-height: 1;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}