body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-grey-dark;
}

.heading-primary {

}

.heading-secondary {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    line-height: 1.2;
    color: $color-primary;
}

.heading-tertiary {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: .1rem;
}